<stile>
  .flash {
  height:40px;
  border: 2px solid red;
  color:red;
  line-height:40px;
  margin.bottom: 20px;
  width: 400px;
  }
</stile>

<h1>Products page</h1>
<h2> Total products : <%= @products_count %></h2>

<h2>Product list</h2>

<% unless flash[:notice].nil?%>
    <div class=""flash"> <%= flash[:notice] %></div>
<% end%>
<%@products.each do |product|%>
    <div>
      id: <%= product.id%>,
      name: <%= product.name%>,
      price: <%=product.price%>
      <%= link_to 'Details', product_path(product)%>
      <%= link_to 'edit', edit_product_path(product)%>
      <%= link_to 'Delete', product_path(product), method: :delete %>
    </div>
<%end%>